/* ** counter.component.css **  */

.app-counter-container {
  border: #cdcdcd 1.5px solid;
}
.app-counter {
  margin: 120px auto;
  width: 420px;
  border: #cdcdcd 1.5px solid;
  padding: 10px 30px;
}
